body {
    background-color: #2c2f83;
    font-family: Arial,Helvetica,sans-serif;
}

header, a {
    list-style: none;
    text-decoration: none;
    color: #feeee3;
}

header {
    background-color: red;
}
#cont-nav {
    justify-content: space-between;
}

